/* @import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap"); */

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: "Plus Jakarta Sans", sans-serif; */
    font-family: "Poppins", sans-serif;
}

/* Warna utama gelap yang mirip dengan footer/header gambar */
.bg-primary-dark {
    background-color: #385138;
}
/* Warna utama terang yang mirip dengan bagian atas (latar hijau muda) */
.bg-primary-light {
    background-color: #e6f1e6;
}
/* Warna teks untuk kontras */
.text-primary-dark {
    color: #385138;
}
.hero-banner {
    background-image: url("../img/lahan.png");
}

.pengaduan {
    background-image: url("../img/bg-pengaduan.png");
}
@media (prefers-color-scheme: dark) {
    .dark\:bg-gray-800 {
        background-color: #ffffff !important;
    }
}
@media (min-width: 768px) {
    .md-h-135 {
        height: 250px;
    }
}
